@charset "UTF-8";


/*Style popup map*/
.popup-map {

    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    display: block;
    z-index: 9;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    > div {
        border-radius: 10px;
        position: fixed;
        background: #FFFFFF;
        box-shadow: 0px 0px 15px 0px rgba(#000000, 0.6);
        padding: 30px 15px;
        /* Width of popup can be changed */
        width: 70%;
        max-width: 600px;
        z-index: 5001;
        @include transform(translate(-50%, -50%));
        left: 50%;
        top: 50%;
        text-align: center;
        border: 5px solid #9AD3DE;
    }

}

.popup-map .wrap-box{
	position: absolute;
	bottom: 12px;
	padding-left: 12px;
    padding-right: 12px;
    width: 100%;
}
.popup-map .wrapper{
    min-width: 100%;
    height: auto;
    padding: 12px;
    border-radius: 3px;
    margin:0 auto;
    background: rgba(238, 238, 238,0.9);
    z-index: 10;
}

.popup-map .wrapper .info-mapker{
	display: flex;
}

.popup-map .wrapper .info-mapker .img{
	border-radius: 50%;
    width: 25vw;
    height: 25vw;
    flex-grow: 2;
}

.popup-map .wrapper .info-mapker .img img{
	border-radius: 50%;
    width: 25vw;
    height: 25vw;
}
.popup-map .wrapper .info-mapker .info{
	flex-grow: 8;
}
.popup-map .wrapper .info-mapker .info .title{
	color: #f5ae3b;
}

.popup-map .wrapper .info-mapker .info .title a{
    color: #f5ae3b;
    font-weight: bold;
    font-size:3vw;
}

.popup-map .wrapper .info-mapker .info .content{
	color: #535253;
	font-size: 3vw;
	font-weight: bold;
    margin-bottom: 5px;
}
.popup-map .wrapper .info-mapker .info .content a{
    color: #535253;
}
.popup-map .close-popup {
    float: right;
    background: #f5ae3b;
    border-radius: 100%;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}
